*{
  margin: 0;
  padding: 0;

}

html{
  font-size: 16px;

}
body {
  margin: 0;
  padding: 0;
  font-family:'Montserrat', sans-serif;
  background-color: black;
}

body::-webkit-scrollbar {
  display:none;
}

/* navbar style*/

.navbar {
  position:fixed;
  z-index: 6;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 10px 0px;
  background-color: black;
}


.navOptions > div > a {
  text-decoration: none;
  color: rgb(232, 230, 230);
  padding: 5px;
  border-radius: 8px;
}

.navOptions > div > a:hover {
  box-shadow: 1px 1px 5px gray;
  background-color: white;
  color: black;
}


.navOptions {
  display: flex;
  padding-left: 30px !important;
}

.navOptions > div {
  padding: 20px 20px 20px 20px !important;
  border-radius: 8px;
  font-size: 1em;
  font-weight: bold;
  color: rgb(232, 230, 230);
}

.logo {
  height: 100%;
  padding-right: 35px !important;
}

.logo > img {
    height: 59px;
}

/* profile section style*/

.topSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileSection {
  display: flex;
  justify-content: center;
  margin-top: 250px;
}



.profileImg {
  width: 220px;
  display: block;
  border-radius: 30% 50% 35% 50%;
  box-shadow: 4px 2px 8px gray;

  animation-name: my-animation;
  animation-duration: 1s;
  animation-timing-function: linear;

}

@keyframes my-animation {
 100% {
  transform: rotateY(360deg);}
}

.profileDescription {
  width: 40%;
  margin-top: 50px;
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  color: rgb(149, 149, 149);
}

/* apps-section */

.quizz-app, .tenzies-app, .cv-website {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 250px;
  margin-bottom:250px;
  width: 85vw;
}

.quizz-app-pics-container, .tenzies-app-pics-container, .cv-website-pics-container{
  height: 342px;
  margin-right: 50px;
  cursor: pointer;
}

.tenzies-app-pics-container {
  height: 334px;
}

.quizz-app-pc > img, .tenzies-app-pc > img, .cv-website-pc > img {
  width:600px;
  border-radius: 8px;
  display: block;
}

.quizz-app-phone {
  position: relative;
  left: 98%;
  bottom: 10px;
  transform: translate(-100%,-100%);
  border-radius: 8px;
  width: fit-content;
  overflow: hidden;
  box-shadow: 1px 1px 5px gray ;
}

.quizz-app-phone > img {
  height: 180px;
  display: block;
}

.quizz-app-pc-text, .tenzies-app-pc-text, .cv-website-pc-text {
  color: white;
}

.quizz-app-pc-text > p, .tenzies-app-pc-text > p, .cv-website-pc-text > p {
  font-size: 1.1rem;
  line-height: 25px;
  color: rgb(149, 149, 149);
}

/* Footer */

footer {
  width: 85%;
  margin: 80px auto 120px auto;
}

.footer {
  display: flex;
  color: rgb(149, 149, 149);
  font-size: 1.3rem;
  flex-wrap: wrap;
  margin: auto;
  padding: 50px 0px;
}

.contact-title {
  color: rgb(255, 255, 255);
  margin-left: 10%;
}

.footer > div {
  display: flex;
  justify-content: center;
  height: 60px;
  width: 33%;
  padding-bottom: 30px;
}

.contact-container > img {
  height:40px;
}

.contact-container {
  display: flex;
  align-items: center;
  width: 150px;
  cursor: pointer;
}

.contact-container > p {
  margin-left: 50px;
}

.copyright {
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(133,133,133,1) 100%);
  padding: 70px 0 20px 0;
  display: flex;
  justify-content: center;
}

.menuIcon {
  visibility: hidden;
}

@media (max-width:480px) {

    .navbar{
      padding-top: 50px;
      margin-top: 0px;
      padding-left: 0px;
    }
    /*menu icon*/ 
    .navOptions {
      display: none;
      flex-direction: column;
      padding-left: 0px !important;
    }
    
    .bar1, .bar2, .bar3 {
      width: 35px;
      height: 5px;
      background-color: #333;
      margin: 6px 0;
      transition: 0.4s;
    }

    .change, .container {
      position: fixed;
      z-index: 9;
      width: fit-content;
      margin: 20px 0 0 25px;
    }

    .change .bar1 {
      transform: translate(0, 11px) rotate(-45deg);
    }

    .change .bar2 {opacity: 0;}
    
    .change .bar3 {
      transform: translate(0, -11px) rotate(45deg);
    }

    /* Profile Section */

    .profileSection {
      margin-top: 220px;
    }

    .profileDescription {
      margin-top: 80px;
      margin-bottom: 50px;
      width: 80vw;
    }

    /* Apps section */
    .quizz-app, .tenzies-app, .cv-website {
      flex-direction: column;
      width: 80vw;
      margin-top: 130px;
      margin-bottom: 50px;
    }

    .cv-website {
      margin-top: 200px;
      margin-bottom: 60px;
    }

    .quizz-app-pics-container, .tenzies-app-pics-container, .cv-website-pics-container {
      width: 100%;
      margin: 0;
      height: fit-content;
    }

    .tenzies-app-pics-container, .cv-website-pics-container {
      margin-bottom: 70px;
    }

    .quizz-app-pc > img, .tenzies-app-pc > img, .cv-website-pc > img {
      width: 100%;
      display: block;
    }

    .quizz-app-phone{
      bottom: 5px;
    }
    .quizz-app-phone > img {
      height: 60px;
      display: block;
    }

    .logo {
      position: fixed;
      top: 10px;
      padding-right: 15px !important;
      left: 100%;
      transform: translate(-100%);
      height: fit-content;
    }

    .logo > img {
      height: 40px;
    }
    
    /* Footer */
    footer {
      margin-top: 120px;
      margin-bottom: 0px;
    }

    .contact-title {
      margin: 0px;
      padding-left: 20px;
    }

    .footer > div {
      width: 100%;
      justify-content: start;
      padding-left: 20px;
    }

    .footer {
      padding-bottom: 20px;
    }

    .copyright > p {
      width: 80%;
      text-align: center;
    }
}

@media (max-width:1024px) and (min-width:481px) {

  /* Profile Section */

  .profileSection{
    margin-top: 450px;
    margin-bottom: 50px;
  }

  .profileDescription{
    margin-bottom: 200px;
  }

  /* App Section */
  .quizz-app, .tenzies-app, .cv-website {
    flex-direction: column;
    width: 80vw;
    margin-top: 230px;
    margin-bottom: 150px;
  }

  .cv-website {
    margin-top: 200px;
    margin-bottom: 220px;
  }

  .quizz-app-pics-container, .tenzies-app-pics-container, .cv-website-pics-container {
    width: 100%;
    margin: 0;
    height: fit-content;
  }

  .quizz-app-pics-container {
    max-height: 620px;
  }

  .tenzies-app-pics-container, .cv-website-pics-container {
    margin-bottom: 170px;
  }

  .quizz-app-pc > img, .tenzies-app-pc > img, .cv-website-pc > img {
    width: 100%;
    display: block;
  }

  .cv-website-pc {
    padding-top: 100px;
  }

  .quizz-app-phone{
    bottom: 20px;
  }
  .quizz-app-phone > img {
    height: 220px;
    display: block;
  }

  /*Footer*/
  footer {
    padding-top: 200px;
    margin-bottom: 250px;
  }

  .copyright {
    padding-top: 190px;
    padding-bottom: 60px;
  }
}